[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[core]
    eol = lf
    autocrlf = input
    safecrlf = true
    filemode = false
    bare = false
    repositoryformatversion = 0
    logallrefupdates = true
    ignorecase = false
    precomposeunicode = true
[color]
    ui = auto
[init]
    defaultBranch = main
[user]
    name = jyxjjj
    email = 773933146@qq.com
    signingKey = A86F2BF9569C54D0
[gpg]
    program = /usr/local/bin/gpg
[commit]
    gpgSign = true
[tag]
    gpgSign = true
    forceSignAnnotated = true
[pull]
    rebase = true
[alias]
    tag = tag -s
    a = "!git add ."
    c = "!git commit -S -m \"$(date '+%Y-%m-%d %H:%M:%S')\""
    d = "!git diff"
    f = "!git fetch"
    p = "!git push"
    s = "!git status"
    acp = "!git add . && git commit -S -m \"$(date '+%Y-%m-%d %H:%M:%S')\" && git push"
