#registry=https://registry.npmmirror.com/
editor=/usr/local/bin/code
init-author-email=admin@desmg.com
init-author-name=DESMG
init-author-url=https://www.desmg.com/
init-license=AGPL-3.0-only
init-module=/Users/jyxjjj/.npm/.npm-init.js
init-version=0.1.0
