<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default Window Settings</key>
	<string>DESMG</string>
	<key>DefaultProfilesVersion</key>
	<integer>1</integer>
	<key>HasMigratedDefaults</key>
	<true/>
	<key>NSColorPanelMode</key>
	<string>1</string>
	<key>NSColorPickerPageableNameListDefaults</key>
	<string>1System</string>
	<key>NSColorPickerPreferredRGBEntryMode</key>
	<integer>2</integer>
	<key>NSColorPickerSlidersDefaults</key>
	<string>1</string>
	<key>NSFontPanelAttributes</key>
	<string>1, 4</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 255.000000, 431.000000, NO, NO</string>
		<string>0.000000, 432.000000, 255.000000, 43.000000, NO, NO</string>
	</array>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>Terminal</key>
		<string>~^$t</string>
	</dict>
	<key>NSWindow Frame NSColorPanel</key>
	<string>1150 215 255 291 0 0 2560 1415 </string>
	<key>NSWindow Frame NSFontPanel</key>
	<string>942 455 689 184 0 0 2560 1415 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>880 740 800 448 0 0 2560 1415 </string>
	<key>NSWindow Frame New Command Panel</key>
	<string>471 667 499 128 0 0 2560 1415 </string>
	<key>NSWindow Frame TTAppPreferences</key>
	<string>1530 386 668 568 0 0 2560 1415 </string>
	<key>NSWindow Frame TTInspector</key>
	<string>1432 116 281 559 0 0 2560 1415 </string>
	<key>NSWindow Frame TTWindow</key>
	<string>710 573 1180 799 0 0 2560 1415 </string>
	<key>NSWindow Frame TTWindow DESMG</key>
	<string>1073 260 1138 748 0 0 2560 1415 </string>
	<key>NSWindow Frame TTWindow Novel</key>
	<string>1312 60 1180 665 0 0 2560 1415 </string>
	<key>ProfileCurrentVersion</key>
	<real>2.0699999999999998</real>
	<key>SecureKeyboardEntry</key>
	<false/>
	<key>Shell</key>
	<string></string>
	<key>Startup Window Settings</key>
	<string>DESMG</string>
	<key>StringEncodings</key>
	<array>
		<integer>4</integer>
		<integer>2147486000</integer>
		<integer>10</integer>
		<integer>2348810496</integer>
		<integer>7</integer>
	</array>
	<key>TTAppPreferences Selected Tab</key>
	<integer>1</integer>
	<key>TTInspector Selected Pane</key>
	<string>Info</string>
	<key>Window Settings</key>
	<dict>
		<key>DESMG</key>
		<dict>
			<key>ANSIBlackColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxApMC4wOTAxOTYwNzg0MyAwLjA3ODQzMTM3MjU1
			IDAuMTI5NDExNzY0NwAQAYAC0hQVFhdaJGNsYXNzbmFtZVgkY2xh
			c3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRq
			d36qrK6zvsfP0gAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AADb
			</data>
			<key>ANSIBlueColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzSjAgMC4yIDAuNAAQAYAC0hQVFhdaJGNsYXNzbmFt
			ZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lM
			UVNXXWRqd36Ji42SnaausQAAAAAAAAEBAAAAAAAAABkAAAAAAAAA
			AAAAAAAAAAC6
			</data>
			<key>ANSIBrightBlackColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAmMC4zNjg2Mjc0NTEgMC4zNjA3ODQzMTM3IDAu
			MzkyMTU2ODYyNwAQAoAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nl
			c1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36n
			qauwu8TMzwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADY
			</data>
			<key>ANSIBrightBlueColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAnMC4xNjQ3MDU4ODI0IDAuNDgyMzUyOTQxMiAw
			Ljg3MDU4ODIzNTMAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+
			qKqssbzFzdAAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIBrightCyanColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAeMC4yIDAuNzgwMzkyMTU2OSAwLjg3MDU4ODIz
			NTMAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+n6GjqLO8xMcA
			AAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0A==
			</data>
			<key>ANSIBrightGreenColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAeMC4yIDAuODU0OTAxOTYwOCAwLjQ3ODQzMTM3
			MjUAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+n6GjqLO8xMcA
			AAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0A==
			</data>
			<key>ANSIBrightMagentaColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAnMC43NTI5NDExNzY1IDAuMzgwMzkyMTU2OSAw
			Ljc5NjA3ODQzMTQAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+
			qKqssbzFzdAAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIBrightRedColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAnMC45NjQ3MDU4ODI0IDAuMzgwMzkyMTU2OSAw
			LjMxNzY0NzA1ODgAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+
			qKqssbzFzdAAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIBrightWhiteColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzRjEgMSAxABACgALSFBUWF1okY2xhc3NuYW1lWCRj
			bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1dd
			ZGp3foWHiY6ZoqqtAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAA
			AAAAALY=
			</data>
			<key>ANSIBrightYellowColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAoMC45MTM3MjU0OTAyIDAuNjc4NDMxMzcyNSAw
			LjA0NzA1ODgyMzUzABACgALSFBUWF1okY2xhc3NuYW1lWCRjbGFz
			c2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3
			fqmrrbK9xs7RAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAA
			ANo=
			</data>
			<key>ANSICyanColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAmMC4xNjQ3MDU4ODI0IDAuNjMxMzcyNTQ5IDAu
			NzAxOTYwNzg0MwAQAoAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nl
			c1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36n
			qauwu8TMzwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADY
			</data>
			<key>ANSIGreenColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAnMC4xNDkwMTk2MDc4IDAuNjM1Mjk0MTE3NiAw
			LjQxMTc2NDcwNTkAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+
			qKqssbzFzdAAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIMagentaColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAnMC42MzkyMTU2ODYzIDAuMjc4NDMxMzcyNSAw
			LjcyOTQxMTc2NDcAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+
			qKqssbzFzdAAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIRedColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAnMC43NTI5NDExNzY1IDAuMTA5ODAzOTIxNiAw
			LjE1Njg2Mjc0NTEAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+
			qKqssbzFzdAAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIWhiteColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAeMC44MTU2ODYyNzQ1IDAuODExNzY0NzA1OSAw
			LjgAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+n6GjqLO8xMcA
			AAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0A==
			</data>
			<key>ANSIYellowColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAnMC42MzUyOTQxMTc2IDAuNDUwOTgwMzkyMiAw
			LjI5ODAzOTIxNTcAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+
			qKqssbzFzdAAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>BackgroundAlphaInactive</key>
			<real>0.5</real>
			<key>BackgroundBlur</key>
			<real>0.10031601123595507</real>
			<key>BackgroundBlurInactive</key>
			<real>0.15134743679775287</real>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAzMC4xMjk0MTE3NjQ3IDAuMTI5NDExNzY0NyAw
			LjEyOTQxMTc2NDcgMC43NDY0ODg3NjQAEAGAAtIUFRYXWiRjbGFz
			c25hbWVYJGNsYXNzZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQp
			MjdJTFFTV11kand+tLa4vcjR2dwAAAAAAAABAQAAAAAAAAAZAAAA
			AAAAAAAAAAAAAAAA5Q==
			</data>
			<key>BackgroundSettingsForInactiveWindows</key>
			<false/>
			<key>BellBounceCritical</key>
			<false/>
			<key>CharacterEncoding</key>
			<integer>4</integer>
			<key>CursorBlink</key>
			<true/>
			<key>CursorType</key>
			<integer>0</integer>
			<key>EnableSmoothResizing</key>
			<false/>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGkCwwVFlUkbnVsbNQNDg8QERITFFZOU1NpemVYTlNmRmxh
			Z3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QF0pldEJy
			YWluc01vbm9OTC1SZWd1bGFy0hcYGRpaJGNsYXNzbmFtZVgkY2xh
			c3Nlc1ZOU0ZvbnSiGRtYTlNPYmplY3QIERokKTI3SUxRU1heZ253
			foWOkJKUrrO+x87RAAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAA
			AAAAANo=
			</data>
			<key>ProfileCurrentVersion</key>
			<real>2.0699999999999998</real>
			<key>ScrollAlternateScreen</key>
			<true/>
			<key>ScrollbackLines</key>
			<integer>16384</integer>
			<key>SetLanguageEnvironmentVariables</key>
			<false/>
			<key>ShouldLimitScrollback</key>
			<integer>1</integer>
			<key>ShouldRestoreContent</key>
			<false/>
			<key>ShowActiveProcessArgumentsInTitle</key>
			<true/>
			<key>ShowActiveProcessInTabTitle</key>
			<false/>
			<key>ShowActiveProcessInTitle</key>
			<false/>
			<key>ShowActivityIndicatorInTab</key>
			<true/>
			<key>ShowCommandKeyInTitle</key>
			<false/>
			<key>ShowDimensionsInTitle</key>
			<true/>
			<key>ShowRepresentedURLInTabTitle</key>
			<true/>
			<key>ShowRepresentedURLInTitle</key>
			<false/>
			<key>ShowRepresentedURLPathInTabTitle</key>
			<true/>
			<key>ShowRepresentedURLPathInTitle</key>
			<true/>
			<key>ShowShellCommandInTitle</key>
			<true/>
			<key>ShowTTYNameInTabTitle</key>
			<false/>
			<key>ShowTTYNameInTitle</key>
			<false/>
			<key>ShowTerminalInDockIcon</key>
			<true/>
			<key>ShowWindowSettingsNameInTitle</key>
			<false/>
			<key>StrictVTKeypad</key>
			<false/>
			<key>WindowTitle</key>
			<string>Terminal</string>
			<key>columnCount</key>
			<integer>165</integer>
			<key>name</key>
			<string>DESMG</string>
			<key>rowCount</key>
			<integer>45</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Novel</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAaMC44NzUgMC44NTc5ODM2NSAwLjc2NTYyNQAQ
			AoAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYY
			WE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36bnZ+kr7jAwwAAAAAA
			AAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADM
			</data>
			<key>CursorBlink</key>
			<false/>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAqMC4yMjc0NTEgMC4xMzcyNTQ5MSAwLjEzMzMz
			MzM0IDAuNjQ5OTk5OTgAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNs
			YXNzZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11k
			and+q62vtL/I0NMAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAA
			AAAA3A==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGkCwwVFlUkbnVsbNQNDg8QERITFFZOU1NpemVYTlNmRmxh
			Z3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QF0pldEJy
			YWluc01vbm9OTC1SZWd1bGFy0hcYGRpaJGNsYXNzbmFtZVgkY2xh
			c3Nlc1ZOU0ZvbnSiGRtYTlNPYmplY3QIERokKTI3SUxRU1heZ253
			foWOkJKUrrO+x87RAAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAA
			AAAAANo=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>ProfileCurrentVersion</key>
			<real>2.0699999999999998</real>
			<key>ScrollbackLines</key>
			<integer>16384</integer>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAsMC40NTQwODE2NSAwLjQ1MTAwNDg5IDAuMzE1
			MTQzOTEgMC43NTk5OTk5OQAQAYAC0hQVFhdaJGNsYXNzbmFtZVgk
			Y2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNX
			XWRqd36tr7G2wcrS1QAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAA
			AAAAAADe
			</data>
			<key>SetLanguageEnvironmentVariables</key>
			<false/>
			<key>ShouldLimitScrollback</key>
			<integer>1</integer>
			<key>ShouldRestoreContent</key>
			<false/>
			<key>ShowActiveProcessInTabTitle</key>
			<false/>
			<key>ShowActiveProcessInTitle</key>
			<false/>
			<key>ShowRepresentedURLInTitle</key>
			<false/>
			<key>ShowRepresentedURLPathInTitle</key>
			<true/>
			<key>ShowShellCommandInTitle</key>
			<true/>
			<key>ShowWindowSettingsNameInTitle</key>
			<false/>
			<key>StrictVTKeypad</key>
			<false/>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAbMC41IDAuMTY0MzAwNTUgMC4wOTkxNDU0NzIA
			EAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqIW
			GFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+nJ6gpbC5wcQAAAAA
			AAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAzQ==
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAhMC4yMzMxNzMxMiAwLjEzNTQwODU3IDAuMTMy
			OTA2MDgAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlND
			b2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+oqSmq7a/
			x8oAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>columnCount</key>
			<integer>165</integer>
			<key>name</key>
			<string>Novel</string>
			<key>rowCount</key>
			<integer>45</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
	</dict>
</dict>
</plist>
