<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default Window Settings</key>
	<string>DESMG-Fedora</string>
	<key>DefaultProfilesVersion</key>
	<integer>1</integer>
	<key>HasMigratedDefaults</key>
	<true/>
	<key>NSColorPanelMode</key>
	<string>1</string>
	<key>NSColorPickerPageableNameListDefaults</key>
	<string>1Web安全色</string>
	<key>NSColorPickerPreferredRGBEntryMode</key>
	<integer>2</integer>
	<key>NSColorPickerSlidersDefaults</key>
	<string>1</string>
	<key>NSFontPanelAttributes</key>
	<string>1, 0</string>
	<key>NSNavLastRootDirectory</key>
	<string>~/Downloads</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 255.000000, 355.000000, NO, NO</string>
		<string>0.000000, 356.000000, 255.000000, 43.000000, NO, NO</string>
	</array>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>Terminal</key>
		<string>~^$t</string>
	</dict>
	<key>NSWindow Frame NSColorPanel</key>
	<string>1194 276 255 343 0 0 2560 1415 </string>
	<key>NSWindow Frame NSFontPanel</key>
	<string>942 625 696 264 0 0 2560 1415 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>1261 326 800 448 0 0 2560 1415 </string>
	<key>NSWindow Frame New Command Panel</key>
	<string>471 667 499 128 0 0 2560 1415 </string>
	<key>NSWindow Frame TTAppPreferences</key>
	<string>149 136 668 568 0 0 2560 1415 </string>
	<key>NSWindow Frame TTInspector</key>
	<string>1432 116 281 559 0 0 2560 1415 </string>
	<key>NSWindow Frame TTWindow</key>
	<string>681 342 1180 799 0 0 2560 1415 </string>
	<key>NSWindow Frame TTWindow DESMG-Apple</key>
	<string>1167 173 1180 665 0 0 2560 1415 </string>
	<key>NSWindow Frame TTWindow DESMG-Fedora</key>
	<string>1028 130 1180 827 0 0 2560 1415 </string>
	<key>NSWindow Frame TTWindow Novel</key>
	<string>1312 195 585 371 0 0 2560 1415 </string>
	<key>ProfileCurrentVersion</key>
	<real>2.0699999999999998</real>
	<key>SecureKeyboardEntry</key>
	<false/>
	<key>Shell</key>
	<string></string>
	<key>Startup Window Settings</key>
	<string>DESMG-Fedora</string>
	<key>StringEncodings</key>
	<array>
		<integer>4</integer>
		<integer>2147486000</integer>
		<integer>10</integer>
		<integer>2348810496</integer>
		<integer>7</integer>
	</array>
	<key>TTAppPreferences Selected Tab</key>
	<integer>3</integer>
	<key>TTInspector Selected Pane</key>
	<string>Info</string>
	<key>Window Settings</key>
	<dict>
		<key>DESMG-Apple</key>
		<dict>
			<key>BackgroundAlphaInactive</key>
			<real>0.20077686095505617</real>
			<key>BackgroundBlur</key>
			<real>0.24906952545214234</real>
			<key>BackgroundBlurInactive</key>
			<integer>0</integer>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGmCwwXHR4lVSRudWxs1Q0ODxAREhMUFRZcTlNDb21wb25l
			bnRzVU5TUkdCXE5TQ29sb3JTcGFjZV8QEk5TQ3VzdG9tQ29sb3JT
			cGFjZVYkY2xhc3NPEDMwLjI4MjM1Mjk1NDEgMC4yODIzNTI5NTQx
			IDAuMjg2Mjc0NTIyNSAwLjg0NzQzNjc5NzhPEDMwLjIxODY1NTE5
			ODggMC4yMTg1MzUwMDYgMC4yMjIzNzg0MDI5IDAuODQ3NDM2Nzk3
			OAAQAYACgAXTGBEZGhscVU5TSUNDWU5TU3BhY2VJRIADgAQQDE8R
			AhgAAAIYYXBwbAQAAABtbnRyUkdCIFhZWiAH5gABAAEAAAAAAABh
			Y3NwQVBQTAAAAABBUFBMAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAA
			AADTLWFwcGzs/aOOOIVHw220vU962hgvAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAApkZXNjAAAA/AAAADBjcHJ0AAABLAAA
			AFB3dHB0AAABfAAAABRyWFlaAAABkAAAABRnWFlaAAABpAAAABRi
			WFlaAAABuAAAABRyVFJDAAABzAAAACBjaGFkAAAB7AAAACxiVFJD
			AAABzAAAACBnVFJDAAABzAAAACBtbHVjAAAAAAAAAAEAAAAMZW5V
			UwAAABQAAAAcAEQAaQBzAHAAbABhAHkAIABQADNtbHVjAAAAAAAA
			AAEAAAAMZW5VUwAAADQAAAAcAEMAbwBwAHkAcgBpAGcAaAB0ACAA
			QQBwAHAAbABlACAASQBuAGMALgAsACAAMgAwADIAMlhZWiAAAAAA
			AAD21QABAAAAANMsWFlaIAAAAAAAAIPfAAA9v////7tYWVogAAAA
			AAAASr8AALE3AAAKuVhZWiAAAAAAAAAoOAAAEQsAAMi5cGFyYQAA
			AAAAAwAAAAJmZgAA8qcAAA1ZAAAT0AAACltzZjMyAAAAAAABDEIA
			AAXe///zJgAAB5MAAP2Q///7ov///aMAAAPcAADAbtIfICEiWiRj
			bGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNloiMkXE5TQ29s
			b3JTcGFjZVhOU09iamVjdNIfICYnV05TQ29sb3KiJiQACAARABoA
			JAApADIANwBJAEwAUQBTAFoAYABrAHgAfgCLAKAApwDdARMBFQEX
			ARkBIAEmATABMgE0ATYDUgNXA2IDawN4A3sDiAORA5YDngAAAAAA
			AAIBAAAAAAAAACgAAAAAAAAAAAAAAAAAAAOh
			</data>
			<key>BackgroundSettingsForInactiveWindows</key>
			<false/>
			<key>BellBounceCritical</key>
			<true/>
			<key>CharacterEncoding</key>
			<integer>4</integer>
			<key>CursorBlink</key>
			<true/>
			<key>ProfileCurrentVersion</key>
			<real>2.0699999999999998</real>
			<key>ScrollAlternateScreen</key>
			<true/>
			<key>ScrollbackLines</key>
			<integer>8192</integer>
			<key>ShouldLimitScrollback</key>
			<integer>1</integer>
			<key>ShouldRestoreContent</key>
			<false/>
			<key>ShowActiveProcessArgumentsInTitle</key>
			<true/>
			<key>ShowActiveProcessInTabTitle</key>
			<false/>
			<key>ShowActiveProcessInTitle</key>
			<false/>
			<key>ShowCommandKeyInTitle</key>
			<false/>
			<key>ShowDimensionsInTitle</key>
			<true/>
			<key>ShowRepresentedURLInTabTitle</key>
			<true/>
			<key>ShowRepresentedURLInTitle</key>
			<false/>
			<key>ShowRepresentedURLPathInTabTitle</key>
			<true/>
			<key>ShowRepresentedURLPathInTitle</key>
			<true/>
			<key>ShowShellCommandInTitle</key>
			<true/>
			<key>ShowTTYNameInTabTitle</key>
			<false/>
			<key>ShowTTYNameInTitle</key>
			<false/>
			<key>ShowTerminalInDockIcon</key>
			<true/>
			<key>ShowWindowSettingsNameInTitle</key>
			<false/>
			<key>StrictVTKeypad</key>
			<false/>
			<key>WindowTitle</key>
			<string>Terminal</string>
			<key>columnCount</key>
			<integer>165</integer>
			<key>name</key>
			<string>DESMG-Apple</string>
			<key>rowCount</key>
			<integer>45</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>DESMG-Fedora</key>
		<dict>
			<key>ANSIBlackColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxApMC4wOTAxOTYwNzg0MyAwLjA3ODQzMTM3MjU1
			IDAuMTI5NDExNzY0NwAQAYAC0hQVFhdaJGNsYXNzbmFtZVgkY2xh
			c3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRq
			d36qrK6zvsfP0gAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AADb
			</data>
			<key>ANSIBlueColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAoMC4wNzA1ODgyMzUyOSAwLjI4MjM1Mjk0MTIg
			MC41NDUwOTgwMzkyABACgALSFBUWF1okY2xhc3NuYW1lWCRjbGFz
			c2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3
			fqmrrbK9xs7RAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAA
			ANo=
			</data>
			<key>ANSIBrightBlackColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAmMC4zNjg2Mjc0NTEgMC4zNjA3ODQzMTM3IDAu
			MzkyMTU2ODYyNwAQAoAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nl
			c1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36n
			qauwu8TMzwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADY
			</data>
			<key>ANSIBrightBlueColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAnMC4xNjQ3MDU4ODI0IDAuNDgyMzUyOTQxMiAw
			Ljg3MDU4ODIzNTMAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+
			qKqssbzFzdAAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIBrightCyanColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAeMC4yIDAuNzgwMzkyMTU2OSAwLjg3MDU4ODIz
			NTMAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+n6GjqLO8xMcA
			AAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0A==
			</data>
			<key>ANSIBrightGreenColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAeMC4yIDAuODU0OTAxOTYwOCAwLjQ3ODQzMTM3
			MjUAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+n6GjqLO8xMcA
			AAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0A==
			</data>
			<key>ANSIBrightMagentaColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAnMC43NTI5NDExNzY1IDAuMzgwMzkyMTU2OSAw
			Ljc5NjA3ODQzMTQAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+
			qKqssbzFzdAAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIBrightRedColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAnMC45NjQ3MDU4ODI0IDAuMzgwMzkyMTU2OSAw
			LjMxNzY0NzA1ODgAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+
			qKqssbzFzdAAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIBrightWhiteColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzRjEgMSAxABACgALSFBUWF1okY2xhc3NuYW1lWCRj
			bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1dd
			ZGp3foWHiY6ZoqqtAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAA
			AAAAALY=
			</data>
			<key>ANSIBrightYellowColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAoMC45MTM3MjU0OTAyIDAuNjc4NDMxMzcyNSAw
			LjA0NzA1ODgyMzUzABACgALSFBUWF1okY2xhc3NuYW1lWCRjbGFz
			c2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3
			fqmrrbK9xs7RAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAA
			ANo=
			</data>
			<key>ANSICyanColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAmMC4xNjQ3MDU4ODI0IDAuNjMxMzcyNTQ5IDAu
			NzAxOTYwNzg0MwAQAoAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nl
			c1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36n
			qauwu8TMzwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADY
			</data>
			<key>ANSIGreenColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAnMC4xNDkwMTk2MDc4IDAuNjM1Mjk0MTE3NiAw
			LjQxMTc2NDcwNTkAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+
			qKqssbzFzdAAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIMagentaColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAnMC42MzkyMTU2ODYzIDAuMjc4NDMxMzcyNSAw
			LjcyOTQxMTc2NDcAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+
			qKqssbzFzdAAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIRedColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAnMC43NTI5NDExNzY1IDAuMTA5ODAzOTIxNiAw
			LjE1Njg2Mjc0NTEAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+
			qKqssbzFzdAAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIWhiteColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAeMC44MTU2ODYyNzQ1IDAuODExNzY0NzA1OSAw
			LjgAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
			cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+n6GjqLO8xMcA
			AAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0A==
			</data>
			<key>ANSIYellowColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAnMC42MzUyOTQxMTc2IDAuNDUwOTgwMzkyMiAw
			LjI5ODAzOTIxNTcAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+
			qKqssbzFzdAAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>BackgroundAlphaInactive</key>
			<real>0.20077686095505617</real>
			<key>BackgroundBlur</key>
			<real>0.24906952545214234</real>
			<key>BackgroundBlurInactive</key>
			<integer>0</integer>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGmCwwXHR4lVSRudWxs1Q0ODxAREhMUFRZcTlNDb21wb25l
			bnRzVU5TUkdCXE5TQ29sb3JTcGFjZV8QEk5TQ3VzdG9tQ29sb3JT
			cGFjZVYkY2xhc3NPEDMwLjI4MjM1Mjk1NDEgMC4yODIzNTI5NTQx
			IDAuMjg2Mjc0NTIyNSAwLjg0NzQzNjc5NzhPEDMwLjIxODY1NTE5
			ODggMC4yMTg1MzUwMDYgMC4yMjIzNzg0MDI5IDAuODQ3NDM2Nzk3
			OAAQAYACgAXTGBEZGhscVU5TSUNDWU5TU3BhY2VJRIADgAQQDE8R
			AhgAAAIYYXBwbAQAAABtbnRyUkdCIFhZWiAH5gABAAEAAAAAAABh
			Y3NwQVBQTAAAAABBUFBMAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAA
			AADTLWFwcGzs/aOOOIVHw220vU962hgvAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAApkZXNjAAAA/AAAADBjcHJ0AAABLAAA
			AFB3dHB0AAABfAAAABRyWFlaAAABkAAAABRnWFlaAAABpAAAABRi
			WFlaAAABuAAAABRyVFJDAAABzAAAACBjaGFkAAAB7AAAACxiVFJD
			AAABzAAAACBnVFJDAAABzAAAACBtbHVjAAAAAAAAAAEAAAAMZW5V
			UwAAABQAAAAcAEQAaQBzAHAAbABhAHkAIABQADNtbHVjAAAAAAAA
			AAEAAAAMZW5VUwAAADQAAAAcAEMAbwBwAHkAcgBpAGcAaAB0ACAA
			QQBwAHAAbABlACAASQBuAGMALgAsACAAMgAwADIAMlhZWiAAAAAA
			AAD21QABAAAAANMsWFlaIAAAAAAAAIPfAAA9v////7tYWVogAAAA
			AAAASr8AALE3AAAKuVhZWiAAAAAAAAAoOAAAEQsAAMi5cGFyYQAA
			AAAAAwAAAAJmZgAA8qcAAA1ZAAAT0AAACltzZjMyAAAAAAABDEIA
			AAXe///zJgAAB5MAAP2Q///7ov///aMAAAPcAADAbtIfICEiWiRj
			bGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNloiMkXE5TQ29s
			b3JTcGFjZVhOU09iamVjdNIfICYnV05TQ29sb3KiJiQACAARABoA
			JAApADIANwBJAEwAUQBTAFoAYABrAHgAfgCLAKAApwDdARMBFQEX
			ARkBIAEmATABMgE0ATYDUgNXA2IDawN4A3sDiAORA5YDngAAAAAA
			AAIBAAAAAAAAACgAAAAAAAAAAAAAAAAAAAOh
			</data>
			<key>BackgroundSettingsForInactiveWindows</key>
			<false/>
			<key>BellBounceCritical</key>
			<true/>
			<key>CharacterEncoding</key>
			<integer>4</integer>
			<key>CursorBlink</key>
			<true/>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGkCwwVFlUkbnVsbNQNDg8QERITFFZOU1NpemVYTlNmRmxh
			Z3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QF0pldEJy
			YWluc01vbm9OTC1SZWd1bGFy0hcYGRpaJGNsYXNzbmFtZVgkY2xh
			c3Nlc1ZOU0ZvbnSiGRtYTlNPYmplY3QIERokKTI3SUxRU1heZ253
			foWOkJKUrrO+x87RAAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAA
			AAAAANo=
			</data>
			<key>ProfileCurrentVersion</key>
			<real>2.0699999999999998</real>
			<key>ScrollAlternateScreen</key>
			<true/>
			<key>ScrollbackLines</key>
			<integer>8192</integer>
			<key>SetLanguageEnvironmentVariables</key>
			<false/>
			<key>ShouldLimitScrollback</key>
			<integer>1</integer>
			<key>ShouldRestoreContent</key>
			<false/>
			<key>ShowActiveProcessArgumentsInTitle</key>
			<true/>
			<key>ShowActiveProcessInTabTitle</key>
			<false/>
			<key>ShowActiveProcessInTitle</key>
			<false/>
			<key>ShowCommandKeyInTitle</key>
			<false/>
			<key>ShowDimensionsInTitle</key>
			<true/>
			<key>ShowRepresentedURLInTabTitle</key>
			<true/>
			<key>ShowRepresentedURLInTitle</key>
			<false/>
			<key>ShowRepresentedURLPathInTabTitle</key>
			<true/>
			<key>ShowRepresentedURLPathInTitle</key>
			<true/>
			<key>ShowShellCommandInTitle</key>
			<true/>
			<key>ShowTTYNameInTabTitle</key>
			<false/>
			<key>ShowTTYNameInTitle</key>
			<false/>
			<key>ShowTerminalInDockIcon</key>
			<true/>
			<key>ShowWindowSettingsNameInTitle</key>
			<false/>
			<key>StrictVTKeypad</key>
			<false/>
			<key>WindowTitle</key>
			<string>Terminal</string>
			<key>columnCount</key>
			<integer>165</integer>
			<key>name</key>
			<string>DESMG-Fedora</string>
			<key>rowCount</key>
			<integer>45</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Novel</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAaMC44NzUgMC44NTc5ODM2NSAwLjc2NTYyNQAQ
			AoAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYY
			WE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36bnZ+kr7jAwwAAAAAA
			AAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADM
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAqMC4yMjc0NTEgMC4xMzcyNTQ5MSAwLjEzMzMz
			MzM0IDAuNjQ5OTk5OTgAEAKAAtIUFRYXWiRjbGFzc25hbWVYJGNs
			YXNzZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11k
			and+q62vtL/I0NMAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAA
			AAAA3A==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGkCwwVFlUkbnVsbNQNDg8QERITFFZOU1NpemVYTlNmRmxh
			Z3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA1dDb3VyaWVy
			0hcYGRpaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0ZvbnSiGRtYTlNP
			YmplY3QIERokKTI3SUxRU1heZ253foWOkJKUnKGstby/AAAAAAAA
			AQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAMg=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>ProfileCurrentVersion</key>
			<real>2.0699999999999998</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAsMC40NTQwODE2NSAwLjQ1MTAwNDg5IDAuMzE1
			MTQzOTEgMC43NTk5OTk5OQAQAYAC0hQVFhdaJGNsYXNzbmFtZVgk
			Y2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNX
			XWRqd36tr7G2wcrS1QAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAA
			AAAAAADe
			</data>
			<key>ShowWindowSettingsNameInTitle</key>
			<false/>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAbMC41IDAuMTY0MzAwNTUgMC4wOTkxNDU0NzIA
			EAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqIW
			GFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+nJ6gpbC5wcQAAAAA
			AAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAzQ==
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3Bh
			Y2VWJGNsYXNzTxAhMC4yMzMxNzMxMiAwLjEzNTQwODU3IDAuMTMy
			OTA2MDgAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlND
			b2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+oqSmq7a/
			x8oAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>name</key>
			<string>Novel</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
	</dict>
</dict>
</plist>
